.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #505050;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  z-index: 10;
  transition: all 0.4s;
}

.title {
  padding-left: 40px;
  flex-grow: 1;

  color: #629c9c;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.4s;
}

.options {
  padding-right: 20px;
  display: flex;
  align-items: center;

  cursor: pointer;

  color: #546e91;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: all 0.4s;
}




.background-container {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #241929, #000000);

  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 60px;
  transition: all 0.4s;
}



.section-container {
  background-color: #9c000000;
  display: flex;
  gap: 10px;
  
  align-items: top;
  padding-top: 50px;

  top: 70px;
  height: 100%;
}



.list-container {
  background-color: #9c000000;
  display: flex;
  gap: 10px;
  max-height: 80vh;
  max-width: 60vw;

  overflow-x: auto;
  margin: 0 auto;
}

.list-holder {
  background-color: #91222200;
}

.list {
  background-color: #000b31;
  width: 250px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  min-height: 115px;
  z-index: 8;
  transition: all 0.4s;
}

.list-title {
  background-color: #ff000000;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;

  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.4s;
}

.list-bar {
  background-color: #ffffff;
  width: 100%;
  height: 10px;
  transition: all 0.4s;
}




.task-list-holder {
  background-color: #ffffff00;
  padding: 0px 7px 7px 7px;
}

.task {
  background-color: #0a153a;
  min-height: 26px;
  border-radius: 4px;
  border: 1px solid #ffffff00;
  margin-bottom:5px;
  padding-bottom:1px;
  display: flex;
  justify-content: space-between;

  color: #ffffff;
  text-align: left;

  cursor: pointer;
  transition: all 0.4s;
}
.task:hover{
  border: 1px solid #0C75FF;
}


.add-task {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 32px;
  margin-bottom:5px;
  padding-top:1px;

  color: #a5a5a5;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  z-index: 100;
  transition: all 0.4s;
}
.add-task:hover {
  min-height: 26px;
  width:100%;
  border-radius: 4px;

  transition: all 0.3s;
}


.task-text {
  display: flex;
  max-width:95%;
  min-width:95%;
  white-space: normal;
  overflow: hidden;
  overflow-wrap: break-word;
  padding:1px;
  padding-left:6px;
  padding-right:6px;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  transition: all 0.4s;
}
.edit-task-text {
  display: flex;
  max-width:95%;
  min-width:95%;
  max-height: 200px;
  padding:0px;
  padding-left:5px;
  padding-right:5px;
  margin-top:25px;
  background-color: #ffffff1c;
  white-space: normal;
  overflow-wrap: break-word;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  transition: all 0.4s;
}
.task:hover > .task-text{
  padding-top:25px;
  transition: all 0.3s;
}

.edit-button {
  padding-left:5px;
  padding-right:5px;
  cursor: pointer;
  z-index: 150;

  color: #00000000;
  text-align: center;
  transition: color 0.2s;
}
.task:hover .edit-button:not(:hover) {
  color: #0c75ff6e;
}
.edit-button:hover {
  color: #0c75ff;
  transition: color 0.2s;
}

.edit-button-list {
  padding-left:5px;
  padding-right:5px;
  cursor: pointer;
  z-index: 150;

  color: #00000000;
  text-align: center;
  transition: color 0.2s;
}
.list-title:hover .edit-button-list:not(:hover) {
  color: #0c75ff6e;
}
.edit-button-list:hover {
  color: #0c75ff;
  transition: color 0.2s;
}

.delete-button {
  padding-right:5px;
  cursor: pointer;
  z-index: 150;

  color: #00000000;
  transition: color 0.2s;
}
.task:hover .delete-button:not(:hover) {
  color: #0c75ff6e;
}
.delete-button:hover {
  color: #0c75ff;
  transition: color 0.2s;
}


.add-list {
  background-color: #0C75FF;
  width: 26px;
  height: 26px;
  border-radius: 32px;
  margin-bottom:5px;
  padding-top:1px;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  z-index: 100;
  transition: all 0.4s;
}
.add-list:hover {
  width: 250px;
  border-radius: 8px;
  border: 2px solid #0C75FF;
  height: 115px;
  transition: all 0.3s;
}
